body {
    font-family: "Verdana",	sans-serif;
    color:white;
    margin: 0;
    background-color: #2B282F;
    text-align: center;
}
div.innerContainer {
    padding-top: 5px;
}
div.container {
    min-width: 900px;
    max-width: 1200px;
    display: inline-block;
    background-color: #3F3D44;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 25px;
    position: relative;
    margin: 30px auto;
}
.textSizer {
    font-size: 20px;
}
input.textBox{
    width: 120px;
    background-color: #8B8A91;
    color: #DBEF0D
}
span.inputName {
    display: inline-block;
    color:#9ADE0A;
    width: 130px;
    margin-bottom: 5px;
}

div.buttonsContainer{
    margin-top: 15px;
    padding: 2px 5px;
}
button.textSizer{
    font-size: 20px;
    background-color: #69696D;
    color: #9ADE0A;
    width: 111px;
}

table#table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 18px;
}
#table td {
    text-align: center;
    padding-top: 20px;
    width: 50px;
}