/*



*/
i {
  border: solid #19181b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.active {
  border: solid red;
  border-width: 0 3px 3px 0;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

input.textBox {
  margin: 5px;
  background-color: #8B8A91;
  color: #DBEF0D;
}
input.textBoxSearch {
  margin: 5px;
  background-color: #8B8A91;
  color: #DBEF0D;
  width: 50px;
}
.found {
color: #DBEF0D;
}
.filtered {
  display: none;
}
input.inputDOB {
  width: 247px;
}
input.inputDOBInit {
  color: #787575;
  font-family: Georgia, serif;
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
}
div.container {
  min-width: 900px;
  max-width: 1200px;
  display: inline-block;
  background-color: #3F3D44;
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 25px;
  position: relative;
  margin: 30px auto;
}
.textSizer {
  font-size: 20px;
}
table.tableForm {
  margin: auto;
}
div.buttonsContainer{
  margin-top: 15px;
  padding: 2px 5px;
}

.button.textSizer{
  text-align: center;
  font-size: 20px;
  background-color: #69696D;
  color: #9ADE0A;
  width: 100px;
  margin: 5px;
}

table#table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

table#table td{
  text-align: center;
  display: inline-block;
  width: 100px;
}

table#table td.tdImg {
  width: 30px;
}
