body {
    font-family: "Verdana",	sans-serif;
    color:#6A442F;
    font-size: 30px;
    margin: 0;
    background-color: #E8E1D6;
}
div.container{
    width: 951px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9F1DE;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    position: relative;
}
div.mainText {
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: justify;
}
h3 {
    margin-left: 19px;
}
img
{
    display:block;
    width: 300px;
    height: 400px;
}
caption {
    text-align: left;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid #6A442F;
}
td {
    border: 3px solid #6A442F;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 50px;
}
td.cellImg {
    padding: 0;
}
td.cellHeading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
}
td.cellType {
    font-weight: bold;
    padding-right: 10px;
}
a {
    color: #6A442F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

